.post {
  border: 1px solid gray;

  &__name {
    border-bottom: 1px solid gray;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    button {
      background: none;
      border: none;
      cursor: pointer;
    }
  }

  &__content {
    padding: 10px;
  }
}
